/* BOX DIMENSIONS */
/* div{
    height: 300px;
    width: 300px;
    background-color: aliceblue;

    height: 200px;
    width: 200px;
    background-color: aliceblue;
} */

/* p{
    width: 20px;
    height: 20px;
} */